{% sw_extends '@Storefront/storefront/element/cms-element-product-description-reviews.html.twig' %}

{# The tab navigation item #}
{% set faqTabId = 'faq-tab' %}

{# The actual tab content #}
{% set faqTabPaneId = 'faq-tab-pane' %}

{# Access the FAQ entries #}
{% set swagFaqEntries = page.product.extensions.swagFaqEntries %}

{% block element_product_description_reviews_tabs_navigation_review %}
    {{ parent() }}

    {% if swagFaqEntries|length > 0 %}
        <li class="nav-item">
            <a class="nav-link product-detail-tab-navigation-link swag-faq-tab"
               id="{{ faqTabId }}"
               data-bs-toggle="tab"
               data-off-canvas-tabs="true"
               href="#{{ faqTabPaneId }}"
               role="tab"
               aria-controls="{{ faqTabPaneId }}">
                {{ 'swagFaq.tabTitle'|trans|sw_sanitize }} <span class="swag-faq-tab-counter badge text-bg-primary">{{ swagFaqEntries|length }}</span>
                <span class="product-detail-tab-navigation-icon">
                    {% sw_icon 'arrow-medium-right' style { pack: 'solid' } %}
                </span>
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block element_product_description_reviews_tabs_content_review %}
    {{ parent() }}

    {% if swagFaqEntries|length > 0 %}
        <div class="tab-pane"
             id="{{ faqTabPaneId }}"
             role="tabpanel"
             aria-labelledby="{{ faqTabId }}">
            {% sw_include '@Storefront/storefront/element/cms-element-swagfaq.html.twig' with {
                productName: product.translated.name,
                faq: swagFaqEntries
            } only %}
        </div>
    {% endif %}
{% endblock %}
