{#
    Product FAQ CMS element
    ========================================
    Properties:
    * faq - The FAQ items
    * productName - The name of the current product
    * productId - The ID of the current product
    * productVersionId - The version ID of the current product

    Data structure FAQ item:
    * id: {uuid}
    * question {string}
    * answer {string}
#}

{# If no "productName" is passed from the parent template, the CMS data will be used. #}
{% if productName is not defined %}
    {% set productName = element.data.productName %}
{% endif %}

{# If no "faq" is passed from the parent template, the CMS data will be used. #}
{% if faq is not defined %}
    {% set faq = element.data.faqEntries %}
{% endif %}

<div class="swag-cms-element-product-faq m-1">
    <h2 class="swag-faq-headline">{{ 'swagFaq.headline'|trans({ '%product_name%': productName })|sw_sanitize }}</h2>

    <div class="swag-faq-accordion accordion accordion-flush mb-5" id="accordionFaq">
        {% for faqItem in faq %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button fw-bold fs-5 collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#fag-item-{{ faqItem.id }}"
                            aria-expanded="true"
                            aria-controls="fag-item-{{ faqItem.id }}">
                        {{ faqItem.question }}
                    </button>
                </h2>

                <div id="fag-item-{{ faqItem.id }}"
                     class="accordion-collapse collapse"
                     data-bs-parent="#accordionFaq">
                    <div class="accordion-body">
                        <strong>{{ 'swagFaq.answerLabel'|trans|striptags }}:</strong>
                        {{ faqItem.answer|raw }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% set pluginOptions = {
        productId: productId,
        productVersionId: productVersionId,
    } %}

    <div class="swag-faq-form">
        <h2>{{ 'swagFaq.formHeadline'|trans }}</h2>

        <form class="swag-faq-form" method="POST" data-faq-submit-plugin data-faq-submit-plugin-options='{{ pluginOptions|json_encode }}'>
            <div class="form-group col-6">
                <label for="faq-submit-question" class="form-label">
                    {{ 'swagFaq.formQuestionLabel'|trans }}
                </label>
                <input type="text" name="question" id="faq-submit-question" class="form-control">
            </div>

            <div class="form-group col-6">
                <label for="faq-submit-answer" class="form-label">
                    {{ 'swagFaq.formAnswerLabel'|trans }}
                </label>
                <input type="text" name="answer" id="faq-submit-answer" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary" id="faq-submit-button">
                {{ 'swagFaq.formSubmit'|trans }}
            </button>
        </form>
    </div>
</div>
