{#
    Product FAQ CMS element
    ========================================
    Properties:
    * faq - The FAQ items
    * productName - The name of the current product

    Data structure FAQ item:
    * id: {uuid}
    * question {string}
    * answer {string}
#}

{# If no "productName" is passed from the parent template, the CMS data will be used. #}
{% if productName is not defined %}
    {% set productName = element.data.productName %}
{% endif %}

{# If no "faq" is passed from the parent template, the CMS data will be used. #}
{% if faq is not defined %}
    {% set faq = element.data.faqEntries %}
{% endif %}

<div class="swag-cms-element-product-faq m-1">
    <h2 class="swag-faq-headline">{{ 'swagFaq.headline'|trans({ '%product_name%': productName })|sw_sanitize }}</h2>

    <div class="swag-faq-accordion accordion accordion-flush" id="accordionFaq">
        {% for faqItem in faq %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button fw-bold fs-5 collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#fag-item-{{ faqItem.id }}"
                            aria-expanded="true"
                            aria-controls="fag-item-{{ faqItem.id }}">
                        {{ faqItem.question }}
                    </button>
                </h2>

                <div id="fag-item-{{ faqItem.id }}"
                     class="accordion-collapse collapse"
                     data-bs-parent="#accordionFaq">
                    <div class="accordion-body">
                        <strong>{{ 'swagFaq.answerLabel'|trans|striptags }}:</strong>
                        {{ faqItem.answer|raw }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>