{% sw_extends '@Storefront/storefront/element/cms-element-product-description-reviews.html.twig' %}

{# Example data #}
{% set faq = [
    {
        id: 'question-1',
        question: 'Is the car safe to use in the rain?',
        answer: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Please visit <a href="#">support section</a> for more information.',
        open: true,
    },
    {
        id: 'question-2',
        question: 'Can the car update itself over the air?',
        answer: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, <i>sed diam nonumy eirmod tempor invidunt</i> ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.',
        open: false,
    },
    {
        id: 'question-3',
        question: 'How long is the warranty?',
        answer: '<i>Lorem ipsum dolor sit amet</i>, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.',
        open: false,
    },
    {
        id: 'question-4',
        question: 'When is the first scheduled maintenance?',
        answer: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.',
        open: false,
    }
] %}

{% block element_product_description_reviews_tabs_navigation_review %}
    {{ parent() }}

    <li class="nav-item">
        <a class="nav-link product-detail-tab-navigation-link swag-faq-tab"
           id="faq-tab"
           data-bs-toggle="tab"
           data-off-canvas-tabs="true"
           href="#faq-tab-pane"
           role="tab"
           aria-controls="faq-tab-pane">
            {{ 'swagFaq.tabTitle'|trans|sw_sanitize }} <span class="swag-faq-tab-counter badge text-bg-primary">{{ faq|length }}</span>
            <span class="product-detail-tab-navigation-icon">
                {% sw_icon 'arrow-medium-right' style { pack: 'solid' } %}
            </span>
        </a>
    </li>
{% endblock %}

{% block element_product_description_reviews_tabs_content_review %}
    {{ parent() }}

    <div class="tab-pane"
         id="faq-tab-pane"
         role="tabpanel"
         aria-labelledby="faq-tab">

        <h2 class="swag-faq-headline">{{ 'swagFaq.headline'|trans({ '%product_name%': product.translated.name })|sw_sanitize }}</h2>

        <div class="swag-faq-accordion accordion accordion-flush" id="accordionFaq">
            {% for faqItem in faq %}
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button fw-bold fs-5{% if not faqItem.open %} collapsed{% endif %}"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#{{ faqItem.id }}"
                                aria-expanded="true"
                                aria-controls="{{ faqItem.id }}">
                            {{ faqItem.question }}
                        </button>
                    </h2>

                    <div id="{{ faqItem.id }}"
                         class="accordion-collapse collapse{% if faqItem.open %} show{% endif %}"
                         data-bs-parent="#accordionFaq">
                        <div class="accordion-body">
                            <strong>{{ 'swagFaq.answerLabel'|trans|striptags }}:</strong>
                            {{ faqItem.answer|raw }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
